@font-face {
    font-family: 'Coming Soon', cursive;
font-family: 'Exo', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
    src: url(./main.html);
}